<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset mdl-cell--8-col">
    <form id='feedingForm'>
      {% csrf_token %}
      <div class="mdl-cell--2-offset mdl-cell--8-col">
        <label class="mdl-cell mdl-cell--1-col" for="created">
            <i class="material-icons">date_range</i>
        </label>
        <input class="mdl-cell mdl-cell--11-col" type="datetime-local" id="created" name="created">
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col">
        <input class="mdl-textfield__input" type="number" id="left" name="left">
        <label class="mdl-textfield__label" for="left">Left Breast minutes</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col">
        <input class="mdl-textfield__input" type="number" id="right" name="right">
        <label class="mdl-textfield__label" for="right">Right Breast minutes</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col">
        <input class="mdl-textfield__input" type="number" id="pumped" name="pumped">
        <label class="mdl-textfield__label" for="pumped">Pumped Breastmilk in mL</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col">
        <input class="mdl-textfield__input" type="number" id="formula" name="formula">
        <label class="mdl-textfield__label" for="formula">Formula in mL</label>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="onClick(event)">Submit</button>
      </div>
    </form>
    <div id="confirmationDialog" class="mdl-cell mdl-cell--12-col" style="display: none; height: 80%;">
      <a href="/newFeeding"><button class="mdl-cell mdl-cell--2-col mdl-cell--2-offset mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Another</button></a>
      <a href="/"><button class="mdl-cell mdl-cell--2-col mdl-cell--2-offset mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Go Back</button></a>
    </div>
  </div>
</div>
<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'snippets/style.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#created').val(moment().format('YYYY-MM-DDTHH:mm'));
});

function onClick(event) {
  event.preventDefault();
  var serializedForm = $('input').serializeArray();
  $.ajax({
    url: '/feedings/',
    method: 'POST',
    data: serializedForm,
  })
  .done(function(data) {
    $('#feedingForm').hide();
    $('#confirmationDialog').show();
  })
  .fail(function(error) {
    console.log('error: ', error);
    var snackbar = $('#snackbar')[0];
    snackbar.MaterialSnackbar.showSnackbar({message: error.responseJSON.detail });
  });
}
</script>